pymongo==4.6.0
email-validator==1.1.3
gunicorn==22.0.0
Flask==3.0.3
Flask_PyMongo==2.3.0
Werkzeug==3.0.3
Flask_PyMongo==2.3.0
python-dotenv==1.0.1
opencv-python-headless
Flask-Cors==4.0.1
gunicorn==22.0.0
requests
flask_jwt_extended
pytz